#table_game .zero_block{
    border: none!important;
}
#table_game .active_block{
    background: #ccc
}
#count_block{
    height: 36px;
    line-height: 36px;
}
#table_game{
    border: 1px black solid;
    cursor: pointer;
}
#table_game tr td{
    height: 84px;
    width: 84px;
    border: 1px black solid;
    text-align: center;
    font-size: 24px;
}
